/*body {
   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:
}*/

body {
    font-family: Helvetica,Arial,sans-serif;
    background: url('../img/bg.png') repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.trans-well {
	 background: rgba(255,255,255,0.87);
	 margin-top: 1%;
	 padding: 1%;
}


.footer {
	padding-top: 1em;
  padding-bottom: 1em;
}


