
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  background-color: rgb(38, 37, 34) !important;
  padding-bottom: 6rem; /*allow footer to always bet on bottom, but not fixed*/
  position: relative; /*allow footer to always bet on bottom, but not fixed*/
  min-height: 100%;
 /*background-image: url('../img/bg.png');*/
}


.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
}



.container {
  overflow:auto;
}



div {
  text-align: justify;
  text-justify: inter-word;
}

.trans-well {
   background: rgba(255,255,255,1);
   margin-top: 1rem;
   padding: 1rem;
}